link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../visor-usuariobis/visor-usuariobis.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../hasta-pronto/hasta-pronto.html">
<link rel="import" href="../signup-usuario/signup-usuario.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../envio-mail/envio-mail.html">

<dom-module id="navegador-app">
 <template>
   <style>
     :host {
       display: block;
     }
     #navegador {
       width: 70%
     }
   </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <nav class="navbar navbar-expand-md navbar-dark top bg-dark">
       <a class="navbar-brand" href="#">bienvenido a pyssabank</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
           <li id="mlogin" class="nav-item active">
             <a class="nav-link" href="#" on-click="mostrarLogin">login <span class="sr-only">(current)</span></a>
           </li>
           <li id="msignup" class="nav-item">
             <a class="nav-link" href="#" on-click="mostrarSignup" >sign up</a>
           </li>
           <li id="mlogout"class="nav-item" style="display:none">
             <a class="nav-link" href="#" on-click="logout" >logout</a>
           </li>
         </ul>
         <div id="mname" class="nav-item" style="display:none">
           <a class="nav-link" href="#">hola [[last_name]], [[first_name]]</a>
         </div>
       </div>
     </nav>
     <div class="alert alert-danger" role="alert" hidden$="{{!error}}">[[msgerror]]</div>
     <div class="alert alert-success" role="success" hidden$="{{!ok}}">[[msgok]]</div>
     <div class="container-fluid">
       <div class="row justify-content-center">
         <iron-pages id="navegador" selected="[[componentName]]" attr-for-selected="component-name">
            <div component-name="visor-usuariobis">
              <visor-usuariobis id="visorusuario"
                                on-logoutevent="processLogout"
                                on-listmovementevent="processMovements"
                                on-eventok="proccessOkEvent"
                                on-eventerror="proccessErrorEvent">
              </visor-usuariobis>
            </div>
            <div component-name="signup-usuario">
              <signup-usuario on-signinevent="processSignin"
                              on-eventok="proccessOkEvent"
                              on-eventerror="proccessErrorEvent">
              </signup-usuario>
            </div>
            <div component-name="hasta-pronto">
              <hasta-pronto></hasta-pronto>
            </div>
           <div component-name="visor-movimientos">
            <visor-movimientos id="visormovimientos"
                               on-logouteventmov="processLogoutMov"
                               on-volverusuevent="processVolverUsu"
                               on-eventok="proccessOkEvent"
                               on-eventerror="proccessErrorEvent">
            </visor-movimientos>
          </div>
           <div component-name="login-usuario">
             <login-usuario on-loginevent="processLogin"
                            on-signupevent="processSignup"
                            on-mailpagevent="processMailPage"
                            on-eventok="proccessOkEvent"
                            on-eventerror="proccessErrorEvent" >
            </login-usuario>
          </div>
           <div component-name="envio-mail">
             <envio-mail id="enviomail"
                         on-loginpagevent="processLoginPage"
                         on-eventok="proccessOkEvent"
                         on-eventerror="proccessErrorEvent">
            </envio-mail>
          </div>
         </iron-pages>
     </div>
    </div>

    <!-- LOGOUT DEL USUARIO DESDE EL VISOR DE CUENTAS -->

          <iron-ajax
            id="doLogout"
            url="http://localhost:3000/apitechu/v1/logout"
            content-type="application/json"
            method="PUT"
            handle-as="json"
            on-response="manageAJAXLogout"
            on-error="showErrorLogout">

 </template>
 <script>

   /**
    * @customElement
    * @polymer
    */
   class NavegadorApp extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'navegador-app'; }
     static get properties() {
       return {
         componentName : {
           type: String,
           value : "vacio"
         },
         userid : {
           type: Number
         },
         first_name : {
            type : String
         },
         last_name : {
           type : String
         },
         error : {
           type: Boolean,
           value : false

         },
         ok : {
           type: Boolean,
           value : false
         },
         msgerror : {
           type: String,
           value : ""
         },
         msgok : {
           type: String,
           value : ""
         }
       }
     }

     mostrarLogin ( event ){
       this.componentName = "login-usuario";
     }

     mostrarSignup ( event ){
       this.componentName = "signup-usuario";
     }

     processLogin(e) {
       console.log("capturado eventos del emisor login");
       console.log(e.detail);
       this.$.visorusuario.userid = e.detail.idUsuario;
       this.userid = e.detail.idUsuario;
       this.first_name = e.detail.first_name;
       this.last_name = e.detail.last_name;
       this.componentName = "visor-usuariobis";
       this.$.mlogin.style.display = "none";
       this.$.msignup.style.display = "none";
       this.$.mlogout.style.display = "block";
       this.$.mname.style.display = "block";
       window.document.body.style.background =  "url('./img/piggybank.png') no-repeat center center fixed";
    }


    proccessErrorEvent  ( event ){
      console.log(event);
      this.error = true;
      this.msgerror = event.detail.msg;
      window.setTimeout(function () {
        this.error = false;
        this.msgerror = "";
      }.bind(this), 6000);
    }


    proccessOkEvent ( event ){
      this.ok = true;
      this.msgok = event.detail.msg;
      window.setInterval(function () {
        this.ok = false;
        this.msgok = "";
      }.bind(this), 6000);
    }


    processMailPage() {
      console.log("capturado eventos del boton recupera contraseña de login");
      this.componentName = "envio-mail";
      window.document.body.style.background = "url('./img/piggybank.jpg') no-repeat center center fixed";
    }

    processVolverUsu(e) {
      console.log("capturado eventos del boton volver desde movimientos");
      this.$.visorusuario.userid = e.detail.userid;
      this.$.visorusuario.recarga = e.detail.recarga;
      this.componentName = "visor-usuariobis";
      console.log("mando el control a visor-usuarios " + this.$.visorusuario.userid )
    }

    processLogout(e) {
      console.log("capturado eventos del emisor logout");
      console.log(e);
      this.componentName = "hasta-pronto";
      this.$.mlogin.style.display = "block";
      this.$.msignup.style.display = "block";
      this.$.mlogout.style.display = "none";
      this.$.mname.style.display = "none";
      window.document.body.style.background = "url('./img/piggybank.jpg') no-repeat center center fixed";
   }

    processSignin(e) {
      console.log("capturado eventos del emisor signup");
      console.log(e);
      this.$.visorusuario.userid = e.detail.id;
      this.userid = e.detail.id;
      this.first_name = e.detail.first_name;
      this.last_name = e.detail.last_name;
      this.componentName = "visor-usuariobis";
      this.$.mlogin.style.display = "none";
      this.$.msignup.style.display = "none";
      this.$.mlogout.style.display = "block";
      this.$.mname.style.display = "block";
      window.document.body.style.background =  "url('./img/piggybank.png') no-repeat center center fixed";
   }

   processLoginPage() {
     console.log("capturado eventos del emisor envio mail");
     this.componentName = "login-usuario";
     window.document.body.style.background = "url('./img/piggybank.jpg') no-repeat center center fixed";
  }

   processMovements(e) {
     console.log("capturado eventos del emisor visor usuario para listar movimientos");
     console.log(e);
     console.log("iban de entrada" + e.detail.iban);
     this.$.visormovimientos.iban = e.detail.iban;
     this.$.visormovimientos.balance = e.detail.balance;
     this.$.visormovimientos.first_name = e.detail.first_name;
     this.$.visormovimientos.last_name = e.detail.last_name;
     this.$.visormovimientos.userid = e.detail.userid;
     this.componentName = "visor-movimientos";
     console.log("nos vamos a" + this.componentName);

  }

    processSignup(e) {
      console.log("capturado eventos del emisor signup");
      console.log(e);
      this.componentName = "signup-usuario";
      window.document.body.style.background = "url('./img/piggybank.jpg') no-repeat center center fixed";

   }

  showData(data) {
    console.log("Datos recibidos en el receptor");
    console.log(data);
    this.userid = data.userid;
    this.first_name = data.first_name;
    this.last_name = data.last_name;
    this.componentName = 'visor-usuariobis';
     }



     // FUNCION  MANEJADORA DEL LOGOUT
     logout() {
       console.log("El usuario ha pulsado el botón");
       console.log(this.userid);
       var logoutData = {
              "id" : this.userid
          } ;
       console.log("logoutdata" + logoutData);
       this.$.doLogout.body = JSON.stringify(logoutData);
       console.log("body" + this.$.doLogout.body);
       this.$.doLogout.generateRequest();
       console.log("Petición enviada logout");
     }

     manageAJAXLogout(data) {
        console.log("Recibida respuesta del servidor por logout");
        console.log(data);
        this.processLogout();
     }

     showErrorLogout(error){
         console.log("Hubo un error en el logout");
         console.log(error);
         var evento = {
           "detail" :
           {
              "msg" : error.detail.request.xhr.response.msg
           }
         };
         this.proccessErrorEvent(evento);
     }



 }

  window.customElements.define(NavegadorApp.is, NavegadorApp);
 </script>
 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
