<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<!--
 <link rel="import" href="../../bower_components/circular-json/circular-json.html">
-->

<dom-module id="visor-movimientosbis">
  <template>
  <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
  </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
    <h1 class="col-md-12">Visor Movimientos</h1>
    <h2 class="col-md-5">Hola {{first_name}} {{last_name}}</h2>
    <h2 class="col-md-5">y mi email es {{email}} </h2>
  <button class="btn btn-success" on-click="logoutmov">Logout</button>
     </div>
     <br>
     <div class="card">
       <simple-material-table id="demo" title="Mis movimientos" columns="[[columns]]" table-data="[[_tableData]]" on-row-selected="_onRowSelected"
         on-action-add="_onActionAdd" on-action-edit="_onActionEdit" on-action-delete="_onActionDelete" show-action-add show-action-edit
         show-action-delete>
       </simple-material-table>
     </div>


 <!--    auto=""
 <button class="btn btn-link"><a href="/users/{{userid}}/accounts">Ver mis cuentas</a></button>

    url="http://localhost:3000/apitechu/v2/users/{{userid}}"
-->

<!-- LOGOUT DEL USUARIO DESDE EL VISOR DE CUENTAS -->


      <iron-ajax
        id="doLogoutMov"
        url="http://localhost:3000/apitechu/v1/logout"
        content-type="application/json"
        method="PUT"
        handle-as="json"
        on-response="manageAJAXLogoutMov"
        on-error="showErrorLogoutMov"
      >

  <!-- auto=""   -->

      <!-- OBTENCION DE LOS MOVIMIENTOS DE UNA CUENTA DE UN USUARIO -->
            <iron-ajax
              id="getUserMovements"
              method="GET"
              url="http://localhost:3000//apitechu/v1/accounts/{{iban}}/movements"
              content-type="application/json"
              handle-as="json"
              on-response="showDataMovements"
              on-error="showErrorMovements"
                >


  </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientosbis'; }


      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mundo 2'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          iban: {
            type: String,
              observer: '_userIbanChanged'
          },
          age: {
            type: Number
          },
          email: {
            type: String
          },
          type: {
            type: String
          },
          alias: {
            type: String
          },
          userid: {
            type: Number

          }
        };
      }

    _userIbanChanged(newValue, oldValue) {
      this.$.getUserMovements.generateRequest();

    }

// FUNCION  MANEJADORA DEL LOGOUT

logoutmov() {
  console.log("El usuario ha pulsado el botón logout en ventana movimientos");

  var logoutData = {
//provisional para probar el componente solo
     "id": 86
  //    "id" : this.userid
        } ;
  console.log("logoutdata" + logoutData);

this.$.doLogoutMov.body = JSON.stringify(logoutData);
console.log("body" + this.$.doLogoutMov.body);
this.$.doLogoutMov.generateRequest();
console.log("Petición enviada logout desde movimientos");
}

manageAJAXLogoutMov(data) {
   console.log("Recibida respuesta del servidor logout mov");
   console.log(data.detail.response);
//         this.isLogged = true;
     this.sendEventLogoutMov(data.detail.response.idUsuario);
}

sendEventLogoutMov(e) {
  console.log("Se ha enviado el evento logout");
  console.log(e);
  this.dispatchEvent(
      new CustomEvent (
        "logouteventmov",
        {
          "detail" :
          {
             "userid" : e
          }
        }
      )
  );//main dispatch event
}

showErrorLogoutMov(error){
    console.log("Hubo un error en el logout");
    console.log(error);

}



// FUNCION  MANEJADORA DE LA LLAMADA PARA OBTENER LOS MOVIMIENTOS DE UNA CUENTA

        showDataMovements (data)
        {
//FALTA DEFINIR LA FORMA DE MOSTRAR LOS DATOS DE LOS USUARIOS
//DA UN ERROR DE ESTRUCTURA CIRCULAR
//          const JSON = require('circular-json');
  //        const json = CircularJSON.stringify(data);
          console.log("salida movimientos server " );
  //        this._tableData = [JSON.stringify(data)];
                  }

        showErrorMovements(error){
          console.log("Hubo un error al buscar los movimientos");
          console.log(error);
        }

      constructor() {
            super();
            this.columns = [ {
              title: "FECHA",
              number: false,
              column: 'date'
            },{
              title: "TIPO MOVIMIENTO",
              number: false,
              column: 'type',
              hidden: false
            },  {
              title: "IMPORTE",
              number: true,
              column: 'amount',
              formatter: function (balance) {
                return parseFloat(balance).toFixed(2);
              },
              hidden: false
            }
          ];

//PROVISIONAL ESTO ME SIRVE PARA VISUALIZAR DATOS
          this._tableData = [
            {"date" : "2017/12/31",
                "type" : "Movimiento inicial",
                "amount" : 1000.01},
            {"date" : "2018/01/31",
                "type" : "Movimiento dos ",
                "amount" : 2000.00},
            {"date" : "2018/03/31",
                "type" : "Movimiento tres",
                "amount" : 3000}
            ];
          window.setInterval(function () {
            for (var i = 0; i < this._tableData.length; i++) {
              this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
            }
          }.bind(this), 1000);

        }


        // FUNCION  MANEJADORA DE LA LLAMADA PARA INSERTAR UN MOVIMIENTO

            _onActionAddMov() {
              console.log("El usuario ha pulsado el botón add movimientos");
              var addUserData = {
        //FALTA DEFINIR LA FORMA DE OBTENER LOS DATOS DE ENTRADA
        //          "type" : this.type,
        //          "alias" : this.alias
                  "date": "2018/06/03",
                  "type": "nuevo type",
                  "amount" : 1000.00


                } ;
        //      console.log("adduserdata" + this.type + this.alias);

            this.$.addAccountMovements.body = JSON.stringify(addUserData);
            console.log("body" + this.$.addAccountMovements.body);
            this.$.addAccountMovements.generateRequest();
            console.log("Petición enviada");

            }


            showAddMovements(data) {
               console.log("Recibida respuesta del alta de movimientos");
               console.log(data.detail.response);
          //         this.isLogged = true;
          //     this.sendEvent(data.detail.response.idUsuario);
            this.$.getUserMovements.generateRequest();
            }

            showErrorAddMovements(error){
                console.log("Hubo un error al dar de alta el movimiento");
                console.log(error);

            }





    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
