<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <h1 >Visor Cuentas</h1>
      <h2 >userId es {{id}}</h2>
    <template is="dom-repeat" items="{{accounts}}">
       <h2 class="col-md-5">Iban es {{item.IBAN}}</h2>
       <h2 class="col-md-5">y saldo es {{item.balance}} </h2>
     </br>
   </template>

        <iron-ajax
        auto=""
        id="getUser"
        method="GET"
        url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mundo 2'
          },
          IBAN: {
            type: String
          },

          balance: {
            type: Number
          },
          userId: {
            type: Number
          },
          id: {
            type: Number
          },
          accounts: {
           type: Array
         }
        };
      }

    showData (data) {
          console.log("Datos de usuario");
         console.log(data.detail.response);
  //        console.log(data.detail.response.IBAN);
  //     console.log(data.detail.response.balance);
  //     console.log(data.detail.response.userId);
  //     this.IBAN = data.detail.response.IBAN;
  //     this.balance = data.detail.response.balance;
  //      console.log(data.detail.response);
       this.accounts = data.detail.response;

//       this.userId = data.detail.response.userId;
            }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
