<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">


<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;gesture
      }
    </style>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container" style="margin-top:50px">
       <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="card" style="margin-top:50px">
                <div class="card-body">
                  <h4>Accede a tu Zona de Usuario</h4>
                  <div>
                    <paper-input label="email" type="email" value={{email::input}}>
                      <iron-icon icon="icons:mail" slot="prefix"></iron-icon>
                    </paper-input>
                  </div>
                  <div>
                    <paper-input label="contraseña" type="password" value={{password::input}}>
                      <iron-icon icon="icons:https" slot="prefix"></iron-icon>
                    </paper-input>
                  </div>
                  <div class="buttons">
                     <paper-button dialog-dismiss on-click="mailpage">Recupera tu contraseña</paper-button>
                     <paper-button dialog-dismiss on-click="signup">Sign up</paper-button>
                     <paper-button dialog-confirm autofocus on-click="login">Login</paper-button>
                 </div>
               </div>
              </div>
            </div>  
            <div class="col-lg-3"></div>
          </div>
        </div>



      <iron-ajax
        id="doLogin"
        url="http://localhost:3000/apitechu/v1/login"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value : false
          },
          error: {
            type: Boolean,
            value : false
          },
          msgerror: {
            type: String
          }
        };
      }


      signup() {
        console.log("El usuario ha pulsado el botón signup");
        this.dispatchEvent(
            new CustomEvent (
              "signupevent"
            )
          )
      }


      mailpage() {
        console.log("El usuario ha pulsado el boton recupera contraseña");
        this.dispatchEvent(
              new CustomEvent (
                "mailpagevent"
              )
            )
      }


      login() {
        console.log("El usuario ha pulsado el botón");

        var loginData = {
            "email" : this.email,
            "password" : this.password
          } ;
        console.log("logidata" + this.email + this.password);

      this.$.doLogin.body = JSON.stringify(loginData);
      console.log("body" + this.$.doLogin.body);
      this.$.doLogin.generateRequest();
      console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
         console.log("Recibida respuesta del servidor");
         console.log(data.detail.response);
         this.dispatchEvent(
             new CustomEvent (
               "loginevent",
               {
                 "detail" : data.detail.response
               }
             )
         );
      }

      showError(error){
          console.log("Se producido un error en la llamada ajax de login");
          console.log(error);
          this.dispatchEvent(
              new CustomEvent (
                "eventerror",
                {
                  "detail" :
                  {
                     "msg" : error.detail.request.xhr.response.msg
                  }
                }
              )
          );
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
