<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="visor-movimientos">
  <template>
  <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
  </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
         <div class="card">
           <div class="card-header">
            <span >Cuenta {{iban}} tu saldo es {{balance}}</span>
          </div>
           <div class="">
             <simple-material-table id="demo" title="Tus movimientos" columns="[[columns]]" table-data="[[_tableData]]" on-row-selected="_onRowSelected"
               on-action-add="_onActionAdd"  on-action-delete="_onActionDelete" show-action-add >
             </simple-material-table>
           </div>
           <div class="card-footer">
             <paper-button on-click="volverusu">volver</paper-button>
           </div>
        </div>
        <div class="alert alert-info" style="margin-top:50px" role="success">Clicka sobre el movimiento para descargar un pdf</div>
      </div>
    </div>
  </div>
     <paper-dialog id="dialogaddmovement" modal>
         <paper-input label="fecha" type="date" value={{movementDate}}></paper-input>
         <paper-input label="tipo" type="text" value={{movementType}}></paper-input>
         <paper-input label="importe" type="number" value={{movementAmount}}></paper-input>
         <div class="buttons">
            <paper-button dialog-dismiss on-click="_onCancelNewMovement">Cancelar</paper-button>
            <paper-button dialog-confirm autofocus on-click="_onAcceptNewMovement">Aceptar</paper-button>
        </div>
     </paper-dialog>
      <!-- OBTENCION DE LOS MOVIMIENTOS DE UNA CUENTA DE UN USUARIO -->
            <iron-ajax
              id="getUserMovements"
              method="GET"
              url="http://localhost:3000/apitechu/v1/accounts/{{iban}}/movements"
              content-type="application/json"
              handle-as="json"
              on-response="showDataMovements"
              on-error="showErrorMovements">

  <!-- ALTA DE UNA MOVIMIENTO DE UNA CUENTA -->

                <iron-ajax
                  id="addAccountMovements"
                  method="POST"
                  url="http://localhost:3000/apitechu/v1/accounts/{{iban}}/movements"
                  content-type="application/json"
                  handle-as="json"
                  on-response="showAddMovements"
                  on-error="showErrorAddMovements">


      <!-- GENERA UN PDF  DE UN MOVIMIENTO DE UNA CUENTA -->
              <iron-ajax
                id="pdfMovements"
                method="POST"
                url="http://localhost:3000/apitechu/v1/accounts/movements/pdf"
                content-type="application/json"
                handle-as="blob"
                on-response="showPdfMovements"
                on-error="showErrorPdfMovements">

  </template>

    <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }


      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          iban: {
            type: String,
              observer: '_userIbanChanged'
          },
          userid: {
            type: Number
          },
          movementDate: {
            type: String
          },
          balance: {
            type: String
          },
          movementType: {
            type: String,
          },
          movementAmount: {
            type: Number,
          }
        };
      }

    _userIbanChanged(newValue, oldValue) {
      this.$.getUserMovements.generateRequest();

    }

      // FUNCION  MANEJADORA DEL VOLVER AL VISOR DE USUARIO
       volverusu() {
         console.log("El usuario vuelve al menu de cuentas desde movimentos");
         this.dispatchEvent(
             new CustomEvent (
               "volverusuevent",
               {
                 "detail" :
                 {
                    "userid" : this.userid,
                    "recarga": true
                 }
               }
             )
         );//main dispatch event
        }


        showDataMovements (data)
        {
            this._tableData = data.detail.response[0].movements;
            console.log("showDataMovements -> data detail response");
            console.log(data.detail.response[0]);
            this.balance = data.detail.response[0].balance + " " + data.detail.response[0].currency;
            console.log(data.detail.response[0].movements);
            window.setInterval(function () {
              for (var i = 0; i < this._tableData.length; i++) {
                this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
              }
            }.bind(this), 1000);
            console.log("salida movimientos server " );
        }

        showErrorMovements(error){
          console.log("Hubo un error al buscar los movimientos");
          console.log(error);
          console.log(error.detail.request.xhr.response.msg);
          this.dispatchEvent(
              new CustomEvent (
                "eventerror",
                {
                  "detail" :
                  {
                     "msg" : error.detail.request.xhr.response.msg
                  }
                }
              )
          );

        }

      constructor() {
            super();
            this.columns = [ {
              title: "FECHA",
              number: false,
              column: 'date'
            },{
              title: "TIPO MOVIMIENTO",
              number: false,
              column: 'type',
              hidden: false
            },  {
              title: "IMPORTE",
              number: true,
              column: 'amount',
              formatter: function (balance) {
                return parseFloat(balance).toFixed(2);
              },
              hidden: false
            }
          ];
        }

        // FUNCION  MANEJADORA DE LA LLAMADA PARA GENERAR UN PDF DEL MOVIMIENTO

        _onRowSelected(row) {
          console.log("El usuario ha pulsado sobre un movimiento");
            name = this.first_name + " " +  this.last_name;
            var movementpdf = {
               "user": name,
               "iban" : this.iban,
               "movement" :
               { "id" : row.detail.id,
                "amount" : row.detail.amount,
                 "type" :  row.detail.type,
                 "date" : row.detail.date
               }
                          };

            console.log("movementpdf" + movementpdf);
            this.$.pdfMovements.body = JSON.stringify(movementpdf);
            console.log("body" + this.$.pdfMovements.body);
            this.$.pdfMovements.generateRequest();
            console.log("Petición enviada generador de pdfs");
           }


          showPdfMovements(data) {
             console.log("Recibida ok respuesta del pdf");
             console.log(data.detail.response);
             var fileName = "movimiento.pdf";
             var blob = data.detail.response;
            //TODO fallback needed for IE8 & IE9
            if (navigator.appVersion.toString().indexOf('.NET') > 0) {
            	//IE 10+
            	window.navigator.msSaveBlob(blob, fileName);
            } else {
            	//Firefox, Chrome
            	var a = document.createElement("a");
            	var blobUrl = window.URL.createObjectURL(new Blob([blob], {type: blob.type}));
              document.body.appendChild(a);
              a.style = "display: none";
              a.href = blobUrl;
              a.download = fileName ;
              a.click();
            }
          }

          showErrorPdfMovements(data) {
             console.log("Recibida respuesta no ok del pdf");
             console.log(data.detail.response);
             console.log(error.detail.request.xhr.response.msg);
             this.dispatchEvent(
                 new CustomEvent (
                   "eventerror",
                   {
                     "detail" :
                     {
                        "msg" : error.detail.request.xhr.response.msg
                     }
                   }
                 )
             );
          }

        // FUNCION  MANEJADORA DE LA LLAMADA PARA INSERTAR UN MOVIMIENTO
            showAddMovements(data) {
               console.log("Recibida respuesta del alta de movimientos");
               console.log(data.detail.response);
            this.$.getUserMovements.generateRequest();
            }

            showErrorAddMovements(error){
                console.log("Hubo un error al dar de alta el movimiento");
                console.log(error);
                console.log(error.detail.request.xhr.response.msg);
                this.dispatchEvent(
                    new CustomEvent (
                      "eventerror",
                      {
                        "detail" :
                        {
                           "msg" : error.detail.request.xhr.response.msg
                        }
                      }
                    )
                );
            }




            _onCancelNewMovement ( evento ){
                 this.movementDate = "";
                 this.movementAmount = 0.0;
                 this.movementType = "";
               }

                _onAcceptNewMovement ( evento ){
                  console.log("El usuario ha pulsado el botón add movimientos");
                  var addAccountMovements = {
                      "type" : this.movementType,
                      "date": this.movementDate.replace("-","/").replace("-","/"),
                      "amount" : this.movementAmount
                    } ;
                this.$.addAccountMovements.body = JSON.stringify(addAccountMovements);
                console.log("body" + this.$.addAccountMovements.body);
                this.$.addAccountMovements.generateRequest();
                console.log("Petición enviada");

                this.movementDate = "";
                this.movementAmount = 0.0;
                this.movementType = "";

                }

                 _onActionAdd(evento) {
                   console.log(evento);
                   this.$.dialogaddmovement.positionTarget = evento.path[0];
                   this.$.dialogaddmovement.open();
                 }

                 showAddMovements(data) {
                    console.log("Recibida respuesta del alta de movimientos");
                    console.log(data.detail.response);
                    this.$.getUserMovements.generateRequest();
                 }

                 showErrorAddMovements(error){
                     console.log("Hubo un error al dar de alta el movimiento");
                     console.log(error);
                     console.log(error.detail.request.xhr.response.msg);
                     this.dispatchEvent(
                         new CustomEvent (
                           "eventerror",
                           {
                             "detail" :
                             {
                                "msg" : error.detail.request.xhr.response.msg
                             }
                           }
                         )
                     );
                 }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
