<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../visor-usuariobis/visor-usuariobis.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../hasta-pronto/hasta-pronto.html">
<link rel="import" href="../signup-usuario/signup-usuario.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../envio-mail/envio-mail.html">

<dom-module id="navegador-app">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <nav class="navbar navbar-expand-md navbar-dark top bg-dark">
       <a class="navbar-brand" href="#">bienvenido a pyssabank</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
           <li id="mlogin" class="nav-item active">
             <a class="nav-link" href="#" on-click="mostrarLogin">login <span class="sr-only">(current)</span></a>
           </li>
           <li id="msignup" class="nav-item">
             <a class="nav-link" href="#" on-click="mostrarSignup" >sign up</a>
           </li>
           <li id="mlogout"class="nav-item" style="display:none">
             <a class="nav-link" href="#" on-click="logout" >logout</a>
           </li>
         </ul>
       </div>
     </nav>
     <div class="alert alert-danger" on-errorevent="proccessErrorEvent" role="alert" hidden$="{{!error}}">{{msgerror}}</div>
     <div class="success alert-success" on-errorevent="proccessOkEvent" role="success" hidden$="{{!ok}}">{{msgok}}</div>
     <div class="container">
       <div class="row justify-content-center">
         <iron-pages id="navegador" selected="[[componentName]]" attr-for-selected="component-name">
            <div component-name="visor-usuariobis"><visor-usuariobis id="visorusuario" on-logoutevent="processLogout"    on-listmovementevent="processMovements"></visor-usuariobis></div>
            <div component-name="signup-usuario"><signup-usuario on-signinevent="processSignin"></signup-usuario></div>
            <div component-name="hasta-pronto"><hasta-pronto></hasta-pronto></div>
           <div component-name="visor-movimientos"><visor-movimientos id="visormovimientos" on-logouteventmov="processLogoutMov" on-volverusuevent="processVolverUsu"></visor-movimientos></div>
           <div component-name="login-usuario"><login-usuario on-loginevent="processLogin" on-signupevent="processSignup" on-mailpagevent="processMailPage" on-logineventerror="proccessErrorEvent" ></login-usuario></div>
           <div component-name="envio-mail"><envio-mail id="enviomail" on-loginpagevent="processLoginPage"></envio-mail></div>
         </iron-pages>
     </div>
    </div>
 </template>
 <script>

   /**
    * @customElement
    * @polymer
    */
   class NavegadorApp extends Polymer.GestureEventListeners(Polymer.Element) {
     static get is() { return 'navegador-app'; }
     static get properties() {
       return {
         componentName : {
           type: String,
           value : "vacio"
         },
         userid : {
           type: Number
         },
         error : {
           type: Boolean,
           value : false
         },
         ok : {
           type: Boolean,
           value : false
         },
         msgerror : {
           type: String,
           value : ""
         },
         msgok : {
           type: String,
           value : ""
         }
       }
     }

     mostrarLogin ( event ){
       this.componentName = "login-usuario";
     }

     mostrarSignup ( event ){
       this.componentName = "signup-usuario";
     }

     processLogin(e) {
       console.log("capturado eventos del emisor login");
       console.log(e);
       this.$.visorusuario.userid = e.detail.userid;
       this.componentName = "visor-usuariobis";
       this.$.mlogin.style.display = "none";
       this.$.msignup.style.display = "none";
       this.$.mlogout.style.display = "block";
    }


    proccessErrorEvent  ( event ){
      console.log(event);
      this.error = true;
      this.msgerror = event.detail.msg;
      window.setTimeout(function () {
        this.error = false;
        this.msgerror = "";
      }.bind(this), 5000);
    }


    proccessOkEvent ( event ){
      this.ok = true;
      this.msgok = event.detail.msg;
      window.setInterval(function () {
        this.ok = false;
        this.msgok = "";
      }.bind(this), 1000);
    }


    processMailPage() {
    console.log("capturado eventos del boton recupera contraseña de login");
    this.componentName = "envio-mail";
    }

    processVolverUsu(e) {
    console.log("capturado eventos del boton volver desde movimientos");
    this.$.visorusuario.userid = e.detail.userid;
    this.$.visorusuario.recarga = e.detail.recarga;
    this.componentName = "visor-usuariobis";
    console.log("mando el control a visor-usuarios " + this.$.visorusuario.userid )
    }

    processLogout(e) {
      console.log("capturado eventos del emisor logout");
      console.log(e);
      this.$.visorusuario.userid = e.detail.userid;
      this.componentName = "hasta-pronto";
   }

   processLogoutMov(e) {
     console.log("capturado eventos del emisor logout mov");
     console.log(e);
     this.$.visormovimientos.userid = e.detail.userid;
     this.componentName = "hasta-pronto";
   }


    processSignin(e) {
      console.log("capturado eventos del emisor signup");
      console.log(e);
      this.$.visorusuario.userid = e.detail.userid;
      this.componentName = "visor-usuariobis";
   }

   processLoginPage() {
     console.log("capturado eventos del emisor envio mail");
     this.componentName = "login-usuario";
  }

   processMovements(e) {
     console.log("capturado eventos del emisor visor usuario para listar movimientos");
     console.log(e);
     console.log("iban de entrada" + e.detail.iban);
     this.$.visormovimientos.iban = e.detail.iban;
     this.$.visormovimientos.balance = e.detail.balance;
     this.$.visormovimientos.first_name = e.detail.first_name;
     this.$.visormovimientos.last_name = e.detail.last_name;
     this.$.visormovimientos.userid = e.detail.userid;
     this.componentName = "visor-movimientos";
     console.log("nos vamos a" + this.componentName);

  }

    processSignup(e) {
      console.log("capturado eventos del emisor signup");
      console.log(e);
      this.componentName = "signup-usuario";
   }

  showData(data) {
    console.log("Datos recibidos en el receptor");
    console.log(data);
    this.userid = data.userid;
    this.componentName = 'visor-usuariobis';
        console.log("userid entrada" + this.userid );
    console.log("userid salida" + this.useridd);
     }

 }

  window.customElements.define(NavegadorApp.is, NavegadorApp);
 </script>
 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
