<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="signup-usuario">
  <template>
    <style>
      :host {
        display: block;gesture
      }
    </style>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container" style="margin-top:100px">
      <h4>Queremos conocerte</h4>
       <div class="row">
        <paper-input label="Nombre" type="text" value="{{first_name::input}}"></paper-input>&nbsp;
        <paper-input label="Apellidos" type="text" value="{{last_name::input}}"></paper-input>&nbsp;
        <paper-input label="Fecha Nacimiento" type="date" value="{{birthday::input}}"></paper-input>
       </div>
       <div class="row">
         <paper-input label="Direccion" type="address" value="{{address::input}}"></paper-input>&nbsp;
         <paper-input label="Código Postal" type="postalcode" value="{{postalcode::input}}"></paper-input>&nbsp;
         <paper-input label="Pais" type="country" value="{{country::input}}"></paper-input>
       </div>
       <div class="row">
         <paper-input label="Telefono" type="phone" value="{{phone::input}}"></paper-input>&nbsp;
         <paper-input label="Documento" type="documentid" value="{{documentid::input}}"></paper-input>&nbsp;
         <paper-input label="Avatar" type="url" value="{{avatar::input}}"></paper-input>
       </div>
       <div class="row">
         <paper-input label="Email" type="email" value="{{email::input}}"></paper-input>&nbsp;
         <paper-input label="password" type="password" value="{{password::input}}"></paper-input>
       </div>
       <div class="buttons">
          <paper-button dialog-dismiss autofocus on-click="signin">Sign up</paper-button>
      </div>
      <div class="alert alert-danger" role="alert" hidden$="{{!error}}">{{msgerror}}</div>
   </div>


      <iron-ajax
        id="doSignin"
        url="http://localhost:3000/apitechu/v1/user"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"
      >


      <iron-ajax
        id="doLogin"
        url="http://localhost:3000/apitechu/v1/login"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageLOGINResponse"
        on-error="showLOGINError"
      >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SignupUsuario extends Polymer.Element {
      static get is() { return 'signup-usuario'; }
      static get properties() {
        return {

          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value : false
          },
          error: {
            type: Boolean,
            value : false
          },
          msgerror: {
            type: String
          }
        };
      }


      signin() {
        console.log("El usuario ha pulsado el botón");

        var signinData = {
            "first_name" : this.first_name,
            "last_name"  : this.last_name,
            "email" : this.email,
            "address" : this.address,
            "country" : this.country,
            "postalcode" : this.postalcode,
            "password" : this.password,
            "avatar" : this.avatar,
            "phone" :this.phone,
            "birthday" : this.birthday,
            "documentid" : this.documentid
          } ;
        console.log("signindata" + this.email + this.password);

      this.$.doSignin.body = JSON.stringify(signinData);
      console.log("body" + this.$.doSignin.body);
      this.$.doSignin.generateRequest();
      console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
         console.log("Recibida respuesta del servidor");
         console.log(data.detail.response);

//    LOGIN POSTERIOR AL SIGNUP
       var loginData = {
            "email" : this.email,
            "password" : this.password
                    } ;
       console.log("logidata" + this.email + this.password);

       this.$.doLogin.body = JSON.stringify(loginData);
       console.log("body" + this.$.doLogin.body);
       this.$.doLogin.generateRequest();
       console.log("Petición enviada login en el signup");
       console.log("id enviado en el evento signup" + data.detail.response.id )
       this.sendEvent(data.detail.response.id);
      }

      showError(error){
          console.log("Hubo un error");
          console.log(error.detail.request.xhr.response.msg);
          this.msgerror = error.detail.request.xhr.response.msg;
          this.error = true;
       }

      sendEvent(e) {
        console.log("Se ha pulsado el boton");
        console.log(e);
        this.dispatchEvent(
            new CustomEvent (
              "signinevent",
              {
                "detail" :
                {
                   "userid" : e
                }
              }
            )
        );//main dispatch event
       }


      manageLOGINResponse(data) {
         console.log("Recibida respuesta del servidor login desde signup");
         console.log(data.detail.response);
      }

      showLOGINError(error){
          console.log("Hubo un error en el login desde signup");
          console.log(error);
          console.log(error.detail.request.xhr.response.msg);
          this.msgerror = error.detail.request.xhr.response.msg;
          this.error = true;
      }
    }

    window.customElements.define(SignupUsuario.is, SignupUsuario);
  </script>
</dom-module>
