<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="visor-usuariobis">
  <template>
  <style include="shared-styles">
    :host {
      display: block;

      padding: 10px;
    }
  </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-10">Hola {{first_name}} {{last_name}}</h2>
      <h1 class="col-md-12">Tu Posición Global</h1>
      <button class="btn btn-success" on-click="logout">Logout</button>
     </div>
     <br>
     <div class="card">
       <simple-material-table id="demo" title="Tus Cuentas" columns="[[columns]]" table-data="[[_tableData]]" on-row-selected="_onRowSelected"
         on-action-add="_onActionAdd"   show-action-add
       </simple-material-table>
     </div>
  <span hidden$="{{!error}}">{{msgerror}}</span>



<!-- OBTENCION DE LAS CUENTAS DE UN USUARIO -->
      <iron-ajax
        id="getUserAccounts"
        method="GET"
        url="http://localhost:3000/apitechu/v1/users/{{userid}}/accounts"
        content-type="application/json"
        handle-as="json"
        on-response="showDataAccounts"
        on-error="showErrorAccounts"
          >

<!-- ALTA DE UNA CUENTA DE UN USUARIO -->

    <iron-ajax
      id="addUserAccounts"
      method="POST"
      url="http://localhost:3000/apitechu/v1/user/{{userid}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="showAddDataAccounts"
      on-error="showErrorAddAccounts"
        >


<!-- OBTENCION DATOS DE CUENTA DE UN USUARIO -->

      <iron-ajax
        id="getUser"
        url="http://localhost:3000/apitechu/v1/users/{{userid}}"
        method="GET"
        handle-as="json"
        on-response="showData"
        on-error="showError"
      >

<!-- LOGOUT DEL USUARIO DESDE EL VISOR DE CUENTAS -->


      <iron-ajax
        id="doLogout"
        url="http://localhost:3000/apitechu/v1/logout"
        content-type="application/json"
        method="PUT"
        handle-as="json"
        on-response="manageAJAXLogout"
        on-error="showErrorLogout"
      >


  </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuarioBis extends Polymer.Element {
      static get is() { return 'visor-usuariobis'; }


      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mundo 2'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          iban: {
            type: String
          },
          age: {
            type: Number
          },
          email: {
            type: String
          },
          type: {
            type: String
          },
          alias: {
            type: String
          },
          userid: {
            type: Number,
          observer: '_useridChanged'
           },
           recarga: {
            type: Boolean,
          observer: '_recargaChanged'
          },
          error: {
            type: Boolean,
            value : false
          },
          msgerror: {
            type: String
          }
        };
      }

    _useridChanged(newValue, oldValue) {
      this.$.getUser.generateRequest();
      this.$.getUserAccounts.generateRequest();
    }


    _recargaChanged(newValue, oldValue) {
      console.log("ejecuto despues de volver de movimientos");
      this.$.getUser.generateRequest();
      this.$.getUserAccounts.generateRequest();
    }

// FUNCION  MANEJADORA DEL LOGOUT

logout() {
  console.log("El usuario ha pulsado el botón");

  var logoutData = {
      "id" : this.userid
        } ;
  console.log("logoutdata" + logoutData);

this.$.doLogout.body = JSON.stringify(logoutData);
console.log("body" + this.$.doLogout.body);
this.$.doLogout.generateRequest();
console.log("Petición enviada logout");
}

manageAJAXLogout(data) {
   console.log("Recibida respuesta del servidor");
   console.log(data.detail.response);
     this.sendEventLogout(data.detail.response.idUsuario);
}

sendEventLogout(e) {
  console.log("Se ha enviado el evento logout");
  console.log(e);
  this.dispatchEvent(
      new CustomEvent (
        "logoutevent",
        {
          "detail" :
          {
             "userid" : e
          }
        }
      )
  );//main dispatch event
}

showErrorLogout(error){
    console.log("Hubo un error en el logout");
    console.log(error);
    console.log(error.detail.request.xhr.response.msg);
    this.msgerror = error.detail.request.xhr.response.msg;

}

// FUNCION  MANEJADORA DE LA LLAMADA PARA IRNOS A LA PAGINAS DE MOVIMIENTOS

    _onRowSelected(row) {
      console.log("El usuario ha pulsado sobre una cuenta");
      console.log("row");
      console.log(row);
      this.sendEventListMovements(row.detail.iban,row.detail.balance);
     }

   sendEventListMovements(e,b) {
   console.log("Se ha pulsado el boton para listar movimientos de una cuenta");
   console.log(e);
   this.dispatchEvent(
       new CustomEvent (
         "listmovementevent",
         {
           "detail" :
           {
              "iban" : e,
              "first_name": this.first_name,
              "last_name": this.last_name,
              "userid": this.userid,
              "balance" : b
           }
         }
       )

   );//main dispatch event
  console.log("userid despues ir mov" + this.userid);
 }

// FUNCION  MANEJADORA DE LA LLAMADA PARA INSERTAR UN MOVIMIENTO

    _onActionAdd(obj) {
      console.log("El usuario ha pulsado el botón add cuentas");
      var addUserData = {
//FALTA DEFINIR LA FORMA DE OBTENER LOS DATOS DE ENTRADA
//          "type" : this.type,
//          "alias" : this.alias
          "type" : "nuevo tipo",
          "alias" : "nuevo alias"


        } ;
//      console.log("adduserdata" + this.type + this.alias);

    this.$.addUserAccounts.body = JSON.stringify(addUserData);
    console.log("body" + this.$.addUserAccounts.body);
    this.$.addUserAccounts.generateRequest();
    console.log("Petición enviada");

    }


    showAddDataAccounts(data) {
       console.log("Recibida respuesta del alta de cuenta");
       console.log(data.detail.response);
       this.$.getUserAccounts.generateRequest();
   }

    showErrorAddAccounts(error){
        console.log("Hubo un error al dar de alta la cuenta");
        console.log(error);
        console.log(error.detail.request.xhr.response.msg);
        this.msgerror = error.detail.request.xhr.response.msg;

    }

// FUNCION  MANEJADORA DE LA LLAMADA PARA OBTENER LOS DATOS DEL USUARIO

    showData (data) {
       console.log(data.detail.response);
       console.log("Datos de usuario");
       console.log(data.detail.response[0].first_name);
       console.log(data.detail.response[0].last_name);
       console.log(data.detail.response[0].email);
       console.log(data.detail.response[0].id);
       this.userid = data.detail.response[0].id;
       this.first_name = data.detail.response[0].first_name;
       this.last_name = data.detail.response[0].last_name;
       this.email = data.detail.response[0].email;
      }

      showError(error){
          console.log("Hubo un error al buscar el usuario");
          console.log(error);
          console.log(error.detail.request.xhr.response.msg);
          this.msgerror = error.detail.request.xhr.response.msg;
      }



// FUNCION  MANEJADORA DE LA LLAMADA PARA OBTENER LAS CUENTAS DEL USUARIO

        showDataAccounts (data)  {
          console.log("salida cuentas " );
          console.log(data.detail.response);
          this._tableData = data.detail.response;
          console.log(this._tableData);
          this.$.constructor();
            }

        showErrorAccounts(error){
        console.log("Hubo un error al buscar lasa cuentas");
        console.log(error.detail.request.xhr.response.msg);
        this.msgerror = error.detail.request.xhr.response.msg;
        console.log(error);
        this._tableData = [];
        this.$.constructor();
                  }

        constructor() {
            super();
            console.log("cargo la cabecera de la tabla");
            this.columns = [{
              title: "IBAN",
              number: false,
              column: 'iban',
              hidden: false
            }, {
              title: "ALIAS",
              number: false,
              column: 'alias'
            }, {
              title: "TIPO",
              number: false,
              column: 'type'
            }, {
              title: "SALDO",
              number: true,
              column: 'balance',
              formatter: function (balance) {
                return parseFloat(balance).toFixed(2);
              },
              hidden: false
            },
            {
              title: "DIVISA",
              number: false,
              column: 'currency'
            }


          ];


          this._tableData=[];
          window.setInterval(function () {
            for (var i = 0; i < this._tableData.length; i++) {
              this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
            }
          }.bind(this), 1000);

        }






    }

    window.customElements.define(VisorUsuarioBis.is, VisorUsuarioBis);
  </script>
</dom-module>
