pro <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="hasta-pronto">
  <template>
    <style>
      :host {
        display: block;gesture
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="alert alert-info" style="margin-top:50px" role="success">esto es todo amigos</div>
          <img style="width:100%;margin-top:50;border:1px 1px 1px 1px" src="src/hasta-pronto/img/hasta-pronto.jpg"></img>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </template>

  <script>
    class HastaPronto extends Polymer.Element {
      static get is() { return 'hasta-pronto'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          userid: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value : false
          }
        };
      }
    }

    window.customElements.define(HastaPronto.is, HastaPronto);
  </script>
</dom-module>
