<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">



<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
    <h1 class="col-md-12">Visor Usuario</h1>
    <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
    <h2 class="col-md-5">y mi email es {{email}} </h2>

  <button class="btn btn-link"><a href="/users/{{userid}}/accounts">Ver mis cuentas</a></button>
     </div>
     <div class="card">
       <simple-material-table id="demo" title="Test Table" columns="[[columns]]" table-data="[[_tableData]]" on-row-selected="_onRowSelected"
         on-action-add="_onActionAdd" on-action-edit="_onActionEdit" on-action-delete="_onActionDelete" show-action-add show-action-edit
         show-action-delete>
       </simple-material-table>
     </div>


 <!--    auto=""
    url="http://localhost:3000/apitechu/v2/users/{{userid}}"
-->

      <iron-ajax
        id="getUser"
        url="http://localhost:3000/apitechu/v1/users/{{userid}}"
        method="GET"
        handle-as="json"
        on-response="showData"
      >

  </template>

    <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }


      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Mundo 2'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          },
          email: {
            type: String
          },
          userid: {
            type: Number,
          observer: '_useridChanged'
          }
        };
      }

    _useridChanged(newValue, oldValue) {
      this.$.getUser.generateRequest();

    }

    showData (data) {
       console.log(data.detail.response);
       console.log("Datos de usuario");
       console.log(data.detail.response[0].first_name);
       console.log(data.detail.response[0].last_name);
       console.log(data.detail.response[0].email);
       console.log(data.detail.response[0].id);
       this.userid = data.detail.response[0].id;
       this.first_name = data.detail.response[0].first_name;
       this.last_name = data.detail.response[0].last_name;
       this.email = data.detail.response[0].email;
      }


      constructor() {
            super();
            this.columns = [{
              title: "Sensor",
              number: false,
              column: 'sensor',
              hidden: false
            }, {
              title: "Value",
              number: true,
              column: 'value',
              formatter: function (value) {
                return parseFloat(value).toFixed(2);
              },
              hidden: false
            }, {
              title: "Raw Value",
              number: true,
              column: 'rawValue',
              formatter: function (value) {
                return parseFloat(value).toFixed(0);
              },
              hidden: true
            },];
            this._tableData = [{
              "sensor": "T",
              "value": 3.437,
              "rawValue": "3437"
            }, {
              "sensor": "H",
              "value": 86.5,
              "rawValue": "8650"
            }, {
              "sensor": "V",
              "value": 3.309,
              "rawValue": "3309"
            }, {
              "sensor": "B",
              "value": 1020.26,
              "rawValue": "102026"
            }, {
              "sensor": "L",
              "value": 2,
              "rawValue": "2"
            }, {
              "sensor": "R",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "S",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "G",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "A",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "T",
              "value": 3.437,
              "rawValue": "3437"
            }, {
              "sensor": "H",
              "value": 86.9,
              "rawValue": "8690"
            }, {
              "sensor": "V",
              "value": 3.309,
              "rawValue": "3309"
            }, {
              "sensor": "B",
              "value": 1020.18,
              "rawValue": "102018"
            }, {
              "sensor": "L",
              "value": 2,
              "rawValue": "2"
            }, {
              "sensor": "R",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "S",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "G",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "A",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "T",
              "value": 3.5,
              "rawValue": "3500"
            }, {
              "sensor": "H",
              "value": 86.4,
              "rawValue": "8640"
            }, {
              "sensor": "V",
              "value": 3.309,
              "rawValue": "3309"
            }, {
              "sensor": "B",
              "value": 1020.21,
              "rawValue": "102021"
            }, {
              "sensor": "L",
              "value": 2,
              "rawValue": "2"
            }, {
              "sensor": "R",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "S",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "G",
              "value": 0,
              "rawValue": "0"
            }, {
              "sensor": "A",
              "value": 0,
              "rawValue": "0"
            }];
            window.setInterval(function () {
              for (var i = 0; i < this._tableData.length; i++) {
                this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
              }
            }.bind(this), 1000);
          }








    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
