<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<dom-module id="envio-mail">
  <template>
    <style>
      :host {
        display: block;gesture
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container" style="margin-top:50px">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
                  <h4>Recupera tu Contraseña</h4>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          Olvidaste tu contraseña? No te preocupes, a veces pasa.
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          Introduce tu email y recibiras un correo (revisa tu bandeja de spam)
          con la nueva contraseña. Sí, así de fácil.
        </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row" >
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <paper-input required label="email" type="text" value="{{email::input}}">
          <iron-icon icon="icons:mail" slot="prefix"></iron-icon>
        </paper-input>
      </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
          <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="sendemail">Recibe el email</paper-button>
                <paper-button dialog-confirm on-click="loginpage">Login</paper-button>
              </div>
            </div>
          <div class="col-lg-3"></div>
      </div>
    </div>

      <iron-ajax
        id="doSendEmail"
        url="http://localhost:3000/apitechu/v1/sendmailpwd/{{email}}"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageMailResponse"
        on-error="showErrorMail">

  </template>

  <script>
    class EnvioMail extends Polymer.Element {
      static get is() { return 'envio-mail'}
      static get properties() {
        return {
          email: {
            type: String
          },
          msgerror: {
            type: String
          },
          error: {
            type: Boolean,
            value : false
          },
          msgok: {
            type: String
          },
          ok: {
            type: Boolean,
            value : false
          },
          isLogged: {
            type: Boolean,
            value : false
          }
        };
      }

      loginpage() {
        console.log("El usuario ha pulsado el botón loginpage");
        this.dispatchEvent(
            new CustomEvent (
              "loginpagevent"
            )
          )
      }


      sendemail() {
        console.log("El usuario ha pulsado el botón sendemail");
        var loginData = {
                "email" : this.email,
            }
        console.log("logindata " + loginData);
        this.$.doSendEmail.body = JSON.stringify(loginData);
        console.log("body" + this.$.doSendEmail.body);
        this.$.doSendEmail.generateRequest();
        console.log("Petición envio mail enviada");
      }


      manageMailResponse(data) {
        console.log("ok en la respuesta del envio de email");
        console.log(data);
        this.dispatchEvent(
            new CustomEvent (
              "eventok",
              {
                "detail" :
                {
                   "msg" : data.detail.response.msg
                }
              }
            )
        );
      }

      showErrorMail(error) {
        console.log("Se producido un error en la llamada ajax de envio email");
        console.log(error);
        this.dispatchEvent(
            new CustomEvent (
              "eventerror",
              {
                "detail" :
                {
                   "msg" : error.detail.request.xhr.response.msg
                }
              }
            )
        );
      }
    }

    window.customElements.define(EnvioMail.is, EnvioMail);
  </script>
</dom-module>
